@import '../../global.scss';

.products__table-container {
  margin-top: 4rem;

  table {
    width: 100%;
    border-spacing: 0 0.5rem;

    th {
      color: $background-form;
      font-weight: 400;
      padding: 1rem 2rem;
      text-align: left;
      line-height: 1.5rem;
    }

    td {
      padding: 1rem 2rem;
      border: 0;
      background-color: $color-text;
      color: $color-text-two;
      font-weight: 400;
      border-radius: 0.25rem;
    }
  }
}