@import '../../global.scss';

$backgroundImage: url('../../assets/images/shopping-carts-facing-each-other.jpg'); 

.notfound-container {
  background: $backgroundImage;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.notfound-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;

  h1 {
    font-size: 6rem;
    color: $primary-color;
    font-weight: 700;
    text-shadow: 1px 1px black;
  }

  h3, p {
    color: $color-text;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-weight: 1.3rem;
  }

  div {
    background-color: #131313a8;
    padding: 4rem;
    border-radius: 1rem;
  }
}